.container{
    display: flex;
/* flex-direction: */
/* flex-direction: column;  makes divs go in aline of up to */
/* flex-direction: column-reverse;can reverse divs */

}

.container-2{
    display: flex;
   justify-content: center; 
   align-items:center;
   /* height: 100vh; */
}

.container-3{
    display: flex;
    justify-content: center; 
    align-items:center
}
.content{
    width: 30%;
    border: 1px solid aqua;
    margin: 5px 15px ;
    padding: 0px 5px;
}